# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
listApp/node_modules/
listApp/tmp/
listApp/temp/
listApp/hooks/
listApp/platforms/
listApp/plugins/
listApp/plugins/android.json
listApp/plugins/ios.json
listApp/www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
